<div class="main-container-baby" style="background-color: #fdf5f5; min-height: 100vh;">
  <%# --- LOGO BABLOG --- %>
  <div class="hero-container text-center position-relative mb-4 rounded-5">
    <div class="col pt-3">
      <%= image_tag "Logo.png", alt: "logo babylog", style: "width: 80px;" %>
    </div>
  </div>

  <div class="content-wrapper text-center px-3">
    <% if @babies.empty? %>
      <h3 class="question-baby mt-3">Vous n'avez pas encore d'enfant enregistré.</h3>
      <div class="separator mb-4"></div>
      <div class="d-grid gap-3 col-10 mx-auto">
        <%= link_to "Ajouter un enfant", new_user_baby_path, class: "button-of-baby text-decoration-none" %>
      </div>

    <% elsif params[:baby_id].blank? %>
      <h3 class="question-baby mt-3">Pour quel bébé voulez-vous voir les vaccins ?</h3>
      <div class="separator mb-3"></div>
      <% @babies.each do |baby| %>
        <%= link_to baby.name, vaccinations_path(baby_id: baby.id), class: "button-of-baby d-block mb-3 text-decoration-none" %>
      <% end %>

    <% else %>
      <%# --- LISTE DES VACCINS --- %>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <%= link_to vaccinations_path, class: "text-decoration-none text-muted me-3" do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        <h3 class="question-baby mb-0" style="color: #4a4a4a; font-weight: 700;">Vaccins de <%= @selected_baby.name %></h3>
      </div>

      <div class="separator mb-4" style="height: 2px; background-color: #e0e0e0; width: 50px; margin: 0 auto;"></div>

      <div class="container pb-5 mb-5" data-controller="vaccination-update">
          <div class="vaccine-group-container mb-5 text-start ">
<% @vaccinations_by_age.each do |age_label, items| %>
  <div class="d-flex flex-column gap-3">
    <h3 class="fw-bold mb-3 ps-2 mt-5"
        style="font-size: 1.1rem; color: #C4736A; border-left: 4px solid #C4736A;">
      <%= age_label %>
    </h3>

    <div>
      <% items.each do |item| %>
        <% v = item[:vaccination] %>

        <div class="d-flex justify-content-between bg-white rounded-4 shadow-sm p-3 mb-2">
          <div class="vaccin">
            <strong><%= v.name %></strong><br>
            Prévu pour le :
            <%= item[:recommended_date]&.strftime("%d/%m/%Y") || "N/A" %>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input shadow-none"
                   type="checkbox"
                   role="switch"
                   id="check-<%= v.id %>"
                   <%= "checked" if v.status %>
                   data-action="change->vaccination-update#toggle"
                   data-vaccination-id="<%= v.id %>"
                   style="width: 2.4em; height: 1.2em; cursor: pointer;">
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
          </div>
<% end %>
      </div>

  </div>
</div>
