<%= render "results/title" %>

<div class="chat-page">
  <div class="chat-wrapper">

    <!-- ===== HEADER CHAT ===== -->
    <div class="chat-header-card"> <!-- bloc bébé, ajout -->

      <% if current_user.user_babies.any? %>
        <% baby = current_user.user_babies.last %>
        <% age_in_months = ((Date.current.year * 12 + Date.current.month) - (baby.birth_date.year * 12 + baby.birth_date.month)) %>

        <div class="baby-info">
          <span class="baby-pill">
            👼 Bébé : <strong><%= baby.name %></strong>
          </span>

          <span class="baby-pill">
            🎂 Âge : <strong><%= age_in_months %> mois</strong>
          </span>

          <span class="baby-pill">
            ⚖️ Poids : <strong><%= baby.weight %> kg</strong>
          </span>
        </div>
      <% end %>
    </div>

    <!-- ===== MESSAGES ===== -->
    <div class="messages-wrapper"> <!-- bloc message, ajout -->

      <div class="messages-container" id="bubble">
        <%= render "messages/messages", messages: @chat.messages %>
      </div>

      <!-- ===== FORM MESSAGE ===== -->
      <div class="chat-input" id="turbo-chat">
        <%= render "messages/form", chat: @chat, message: Message.new %>
      </div>

    </div>

    <!-- ===== ACTION RESULT ===== -->
  <% if @chat.messages.any? %>
    <div class="chat-actions">

      <%= button_to "Générer mon plan BabyLog",
        chat_results_path(@chat),
        method: :post,
        class: "generate-plan-btn"
      %>

    </div>
  <% end %>

    <!-- ===== BACK ===== -->
    <div class="back-home">
      <%= link_to "Retour à l'accueil", root_path, class: "home-link-btn" %>
    </div>

  </div>
</div>
